{% extends 'base.html.twig' %}

{% block title %}Edit!{% endblock %}

{% block body %}

<!--cover-img-->
	<div class="container-fluid">
		<div class="row">
			<img src="https://mdbootstrap.com/img/Photos/Others/images/78.jpg" alt="toto" width="100%" height="500px"/>
		</div>
	</div>
<!--/cover-img-->
	
<!--rest-->
	<div class="container" style="margin-top:30px">
		<!-- Media -->
		<div class="row">
			<!-- Over img -->
			<div class="col-xl-8 col-md-8 d-flex justify-content-between">
				<div><img src="https://mdbootstrap.com/img/Photos/Others/images/78.jpg" alt="toto" width="100%"/></div>
				<div><img src="https://mdbootstrap.com/img/Photos/Others/images/78.jpg" alt="" width="100%"/></div>
				<div><img src="https://mdbootstrap.com/img/Photos/Others/images/78.jpg" alt="" width="100%"/></div>
			</div>
			<!-- /over img -->

			<!-- movie -->
			<div class="col-xl-4 col-md-4">
				<iframe src="https://www.youtube.com/embed/G9qlTInKbNE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<!-- movie -->
		</div><!--/.row -->	
		<!--/Media -->

		<!-- Title -->
		<div>
			<h3>titre du strick</h3>
		</div>
		<!-- /Title -->

		<!-- Badges -->
		<div class="row">
			<div class="col-xl-12">
				<p class="text-center">
					<span class="badge badge-pill badge-secondary">Date de publication: date </span>
					<span class="badge badge-pill badge-secondary">Date de modification: date </span>
					<span class="badge badge-pill badge-secondary">Groupe: groupe</span>
				</p>
				<hr/>
			</div>
		</div>
		<!-- /.Badges -->

		<!-- Description -->
		<div class="row">
			<div class="col-xl-12">
				<p> //FORM UPDATE
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, aut deleniti accusantium provident tempora culpa vero ut maxime quas incidunt qui quae ab atque consequatur quidem obcaecati modi. Numquam, nulla.
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci animi ipsa nesciunt, possimus eius minus aliquid voluptatibus similique aut sint quisquam, non debitis soluta voluptas rerum eaque quo, doloremque vitae!
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta consequatur labore repudiandae nemo laborum fugit molestiae beatae accusamus, eaque cum iusto voluptate commodi sapiente. Perspiciatis voluptatibus est voluptatem optio libero?
				</p>
			</div>
		</div>
		<!-- /.Description -->

		<!-- Select group -->
		<div class="row">
			<div class="col-xl-12">
				<select name="" id="">
					<option value="">1</option>
					<option value="">2</option>
					<option value="">3</option>
				</select>
			</div>
		</div>
		<!-- /.select group -->

		<!-- Action button -->
		<div class="row">
            <div class="col-lg-12">
                <p class="text-right">
                    <a href="#" class="btn btn-danger">Delete</a>
                    <a href="#" class="btn btn-default">Save</a>
                </p>
            </div>    
		</div>
		<!-- /.action button -->

	</div>	
<!--/rest -->
  
{% endblock %}
