{% extends 'base.html.twig' %}
 
{% block title %}Mot de passe oublié{% endblock %}
 
{% block body %}
<div class="row d-flex justify-content-center">
    <div class="col-4 border border-primary">
        <h1>Mot de passe oublié</h1>
        {{ form(emailForm) }}
    </div>
</div>

{% endblock %}