{% extends 'base.html.twig' %}
 
{% block title %}Nouveau mot de passe{% endblock %}
 
{% block body %}
<div class="container">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-6 mt-5">
            <h2>Réinitialisation du mot de passe</h2>
            <p>Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
            <form method="post">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
                <input type="hidden" name="token" value="{{ token }}" class="form-control">
                <button type="submit" id="valider" class="btn btn-primary">
                    Valider le mot de passe
                </button>   
            </form>
        </div>
    </div>
</div>

{% endblock %}