{% extends 'admin/base.html.twig' %}

{% block title %}Commentaires{% endblock %}

{% block body %}
    <h1>Modifier un commentaire</h1>

    {{ include('comment/_form.html.twig', {'button_label': 'Valider'}) }}

    {{ include('comment/_delete_form.html.twig') }}
{% endblock %}
