<form method="post" action="{{ path('category_delete', {'id': category.id}) }}" onsubmit="return confirm('Attention, si vous supprimez une catégorie, cela supprimera les tricks liées à cette catégories. Voulez-vous vraiment supprimer cette catégorie ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="badge badge-danger"><i class="fas fa-trash-alt"></i></button>
</form>
