{% extends 'admin/base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Modifier la categorie</h1>
    {{ include('category/_form.html.twig', {'button_label': 'Modifier'}) }}
</div>
{% endblock %}
