{% extends 'admin/base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
<div class="container">
    <h1>Créer une nouvelle catégorie</h1>
    {{ include('category/_form.html.twig') }}
</div>
{% endblock %}
