{% extends '/admin/base.html.twig' %}

{% block title %}Espace administration{% endblock %}

{% block body %}
    <div class="row">
    
        <!-- Tricks card -->
        <div class="col-lg-4 col-md-12 mb-4">
          
          <div class="card mt-3">
            <div class="">
              <i class="fas fa-snowboarding primary-color z-depth-2 p-4 ml-3 mt-n3 rounded text-white"></i>
              <div class="float-right text-right p-3">
                <h4 class="font-weight-bold mb-0"> <a href="{{ path('trick_index')}}">Tricks</a></h4>
              </div>
            </div>
            <div class="card-body pt-0">
              <p class="card-text">Dernière publication: </p>
            </div>
            <div class="card-footer pt-0">
                <a class="badge badge-primary" href="{{ path('trick_index')}}">Voir</a>
                <a class="badge badge-primary" href="{{ path('trick_new')}}">Nouveau</a>
            </div>
          </div>
          
        </div>
        <!-- Tricks card -->

        <!-- Groups card -->
        <div class="col-lg-4 col-md-12 mb-4">
          
            <div class="card mt-3">
              <div class="">
                <i class="far fa-money-bill-alt fa-lg primary-color z-depth-2 p-4 ml-3 mt-n3 rounded text-white"></i>
                <div class="float-right text-right p-3">
                  <h4 class="font-weight-bold mb-0">Categories</h4>
                </div>
              </div>
              <div class="card-body pt-0">
                <p class="card-text">Dernière publication: </p>
              </div>
            </div>
            
        </div>
        <!-- Groups card -->

        <!-- Users card -->
        <div class="col-lg-4 col-md-12 mb-4">
          
            <div class="card mt-3">
              <div class="">
                <i class="fas fa-user fa-lg primary-color z-depth-2 p-4 ml-3 mt-n3 rounded text-white"></i>
                <div class="float-right text-right p-3">
                  <h4 class="font-weight-bold mb-0">Utilisateurs</h4>
                </div>
              </div>
              <div class="card-body pt-0">
                <p class="card-text">Dernière publication: </p>
              </div>
            </div>
            
        </div>
        <!-- ./Users card -->

         <!-- Comment card -->
         <div class="col-lg-4 col-md-12 mb-4">
          
            <div class="card mt-3">
              <div class="">
                <i class="far fa-comments fa-lg primary-color z-depth-2 p-4 ml-3 mt-n3 rounded text-white"></i>
                <div class="float-right text-right p-3">
                  <h4 class="font-weight-bold mb-0">Commentaires</h4>
                </div>
              </div>
              <div class="card-body pt-0">
                <p class="card-text">Dernière publication: </p>
              </div>
            </div>
            
        </div>
        <!-- ./Comment card -->

    </div>
    <!--Grid row-->
  

{% endblock %}
