html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 650px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
     background: #1C2331;
  }
}
/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.3); }

.top-nav-collapse {
  background-color: #1C2331; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }

/**Mine**/
.mt-container
{ margin-top: 60px; }

.app_shadow
{ text-shadow: 0.075em 0.08em 0.1em rgba(0, 0, 0, 1);}

.opac{
  opacity: 1 !important;
}

.to{
  margin-top: 100px !important;
}

/* See media Management */
#see-medias
{ display: none;}

@media (max-width: 800px) {
  #see-medias
  { display: inline;}

  #medias{
    display: none;
  }

  #medias:target {
    display: block !important;
  }

}

