<h1>Mot de passe perdu </p>
<p>Vous avez fait fait une demande de réinitialisation de mot de passe.</p>
<p><a href="{{ absolute_url(path('app_reset_password', {'token': token} )) }}">Réinitialisez mon mot de passe</a></p>