{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
<div class="view full-page-intro" style="background-image: url('https://as2.ftcdn.net/jpg/01/16/55/77/500_F_116557709_H9HBItGCiQ5VouiK44v9V2ijtatzAc5I.jpg'); background-repeat: no-repeat; background-size: cover;">

    <!-- target up cible.-->
    <div id="up" style="position: relative; top: -10px"></div>

    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
            <!--Grid row-->
            <div class="row wow fadeIn">
                <!--Grid column-->
                <div class="col-md-12 mb-4 white-text text-center text-md-left">
                    <h1 class="display-4 font-weight-bold text-center"> <span style="text-shadow: 0.075em 0.08em 0.1em rgba(0, 0, 0, 1);">OUPS!!!</span></h1>
                    <h2 class="text-center"><strong style="text-shadow: 0.075em 0.08em 0.1em rgba(0, 0, 0, 1);"> Cette page n'existe pas.</strong></h2>
                </div>
                <!--/Grid column-->
            </div>
            <!--/Grid row-->
        </div>
        <!-- /Content -->
    </div>
    <!-- /Mask & flexbox options-->
</div>
{% endblock %}