{% extends 'base.html.twig' %}

{% block title %}Edit Trick{% endblock %}

{% block body %}
    <h1>Edit Trick</h1>

    {{ include('trick/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('trick_index') }}">back to list</a>

    {{ include('trick/_delete_form.html.twig') }}


    <!-- select group -->
		<div class="row">
			<div class="col-xl-12">
				<select name="" id="">
					<option value="">1</option>
					<option value="">2</option>
					<option value="">3</option>
				</select>
			</div>
		</div>
		<!-- /.select group -->
{% endblock %}
