{% extends 'admin/base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Créer un nouvel utilisateur</h1>
    {{ include('user/_form.html.twig') }}
</div>
{% endblock %}
